future
redis
cachetools
fontTools
emoji
tswift
pybase64
html2text
lxml
beautifulsoup4
requests
pySmartDL
sqlalchemy
pyrogram>=1.0.7
tgCrypto>=1.2.2
pythonping
youtube-dl
python-telegram-bot==12.8
psycopg2-binary
spongemock
nudepy==0.5.1
bing_image_downloader
zalgo-text
geopy
nltk
gtts
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
google_trans_new
jikanpy
speedtest-cli
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon==1.16.4
spamwatch
alphabet_detector
pyrate-limiter
html_telegraph_poster
pytz
instantmusic
validators
pickledb
hachoir
pytube
youtube-search-python
